<h1>Show User</h1>

<p>Name : <%= "#{@user.first_name} #{@user.last_name}"%></p>
<p>Email : <%= "#{@user.email}"%></p>
<p>Phone Number : <%= "#{@user.phone_number}" %></p>

<%= link_to "Index User", users_path %>
<%= link_to "Edit User", edit_user_path( @user ) %>
<%= link_to "Delete User", user_path(@user), method: :delete %>